

html{
    overflow-x: hidden;
}


/*===================================================================*/
/*======================A B O U T=============================*/
/*===================================================================*/

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}



.about-body{
    max-width: 1920px;
    margin: 0 auto;
}



.video{
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100vh;
    background-color: #262626;
}

.video video{
    width: 100%;
    height: 100%;
}

.video-overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: red;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.video-button{
    width: 120px;
    height: 120px;

    border-radius: 50%;
    border: 4px solid #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}

.video-button:hover{
    background-color: #fff;
}
.video-button:hover .video-play{
    background-color: red;
}

.video-play{
    width: 50px;
    height: 50px;
    background-color: #fff;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    transform: translateX(11%);
    transition: .3s;
}

.video-track{
    position: absolute;
    padding: 15px;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.158);
    width: 100%;
    display: flex;   
    z-index: 1000;
    align-items: center;
    justify-content: space-between;
}


.left-side{
    display: flex;
    align-items: center;
}



.play-pause-video{
    margin: 0 40px 0 35px;
    color: #fff;
    font-size: 25px;
}

.play-pause-video i{
    cursor: pointer;
}

i.pause-video{
    display: none;
}



.volume{
    color: #fff;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    font-size: 30px;
    width: 170px;
}

.volume-icons{
    cursor: pointer;
}

.volume-track {
    -webkit-appearance: none;
    width: 130px;
    padding: 0;
    border: none;
    border-radius: 0;
    overflow: hidden;
    margin: 0;
  }
  .volume-track:focus {
    outline: none;
  }
  .volume-track::-webkit-slider-runnable-track {
    width: 100%;
    height: 16px;
    cursor: pointer;
    animate: 0.2s;
    background: #484a4b88;
  }
  .volume-track::-webkit-slider-thumb {
    -webkit-box-shadow: -130px 0px 0px 129px rgba(255,255,255, 1);
-moz-box-shadow: -130px 0px 0px 129px rgba(255,255,255, 1);
box-shadow: -130px 0px 0px 129px rgba(255,255,255, 1);
    height: 16px;
    width: 0px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
  }
  .volume-track:focus::-webkit-slider-runnable-track {
    background: #696f74b6;
  }
  .volume-track::-moz-range-track {
    width: 100%;
    height: 16px;
    cursor: pointer;
    animate: 0.2s;
    background: #484a4b88;
  }
  .volume-track::-moz-range-thumb {
    -webkit-box-shadow: -130px 0px 0px 129px rgba(255,255,255, 1);
-moz-box-shadow: -130px 0px 0px 129px rgba(255,255,255, 1);
box-shadow: -130px 0px 0px 129px rgba(255,255,255, 1);
    height: 16px;
    width: 0px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
  }
  .volume-track::-ms-track {
    width: 100%;
    height: 16px;
    cursor: pointer;
    animate: 0.2s;
    background: #484a4b88;
  }
  .volume-track::-ms-thumb {
    -webkit-box-shadow: -130px 0px 0px 129px rgba(255,255,255, 1);
-moz-box-shadow: -130px 0px 0px 129px rgba(255,255,255, 1);
box-shadow: -130px 0px 0px 129px rgba(255,255,255, 1);
    height: 16px;
    width: 0px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
  }





  .time-track {
    -webkit-appearance: none;
    width: 100%;
    padding: 0;
    border: none;
    border-radius: 0;
    overflow: hidden;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    width: 100vw!important;
    background-color: #333;
    display: flex;
    transform: translateY(-100%);
    transition: .2s;
    cursor: pointer;
  }
  .time-track:focus {
    outline: none;
  }
  .time-track::-webkit-slider-runnable-track {
    width: 100%;
    height: 100%;
    cursor: pointer;
    animate: 0.2s;
    background: #333;
  }
  .time-track::-webkit-slider-thumb {
    -webkit-box-shadow: -100vw 0px 0px 100vw rgba(255,255,255, 1);
-moz-box-shadow: -100vw 0px 0px 100vw rgba(255,255,255, 1);
box-shadow: -100vw 0px 0px 100vw rgba(255,255,255, 1);
    height: 0;
    width: 0;
    background: #333;
    cursor: pointer;
    -webkit-appearance: none;
  }
  .time-track::-moz-range-track {
    width: 100%;
    height: 100%;
    cursor: pointer;
    animate: 0.2s;
    background: #333;
  }
  .time-track::-moz-range-thumb {
    -webkit-box-shadow: -100vw 0px 0px 100vw rgba(255,255,255, 1);
    -moz-box-shadow: -100vw 0px 0px 100vw rgba(255,255,255, 1);
    box-shadow: -100vw 0px 0px 100vw rgba(255,255,255, 1);
        height: 0;
        width: 0;
        background: #333;
        cursor: pointer;
        -webkit-appearance: none;
  }
  .time-track::-ms-track {
    width: 100%;
    height: 100%;
    cursor: pointer;
    animate: 0.2s;
    background: #333;
  }
  .time-track::-ms-thumb {
    -webkit-box-shadow: -100vw 0px 0px 100vw rgba(255,255,255, 1);
    -moz-box-shadow: -100vw 0px 0px 100vw rgba(255,255,255, 1);
    box-shadow: -100vw 0px 0px 100vw rgba(255,255,255, 1);
        height: 0;
        width: 0;
        background: #333;
        cursor: pointer;
        -webkit-appearance: none;
  }


  .time-track:hover{
        height: 12px;
      border: none!important;
      border: 1px solid white;
  }

  .time-track::-webkit-slider-runnable-track:hover,
  .time-track::-moz-range-track:hover,
  .time-track::-ms-track:hover{
      padding: 20px 0;
      
  }


  .time-show{
      color: #fff;
      font-weight: 700;
      display: flex;
      align-items: center;
      margin-left: 20px;
  }

.fullscreen{
    font-size: 20px;
    color: white;
    margin-right: 20px;
    cursor: pointer;
}

i.fullscreen-off{
    display: none;
}

:-webkit-full-screen {
    width: 100%;
    height: 100%;
  }
  
  :-moz-full-screen {
    width: 100%;
    height: 100%;
  }
  
  :-ms-fullscreen {
    width: 100%;
    height: 100%;
  }
  
  :full-screen { /*pre-spec */
    width: 100%;
    height: 100%;
  }
  
  :fullscreen { /* spec */
    width: 100%;
    height: 100%;
  }
  
  /* deeper elements */
  :-webkit-full-screen video {
    width: 100%;
    height: 100%;
  }
  
  /* styling the backdrop*/
  ::backdrop {
    /* properties */
  }
  ::-ms-backdrop {
    /* properties */
  }


  .track-time-show{
      position: absolute;
      background-color: rgb(92, 86, 86);
      top: -20px;
      transform: translateY(-100%);
      padding: 10px;
      border-radius: 5px;
      color: white;
      display: none;
  }

  .track-time-show::after{
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateY(100%) translateX(-50%);
      border: 8px solid transparent;
      border-top-color: rgb(92, 86, 86);
      
  }